.uploadForm{
  margin: 20px;
}
#buttonSubmit{
  background-color:rgb(52, 90, 72);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#caption{
  width: 200px;
  border:0;
  border-bottom: 1px solid grey;
  height: 30px;
  border-radius: 0;
  outline: none;
}
#bibliotecaVideo{
  display: flex;
  justify-content:flex-start;  
  flex-wrap: wrap;
  padding-left: 25px;  
}
@media screen and (max-width:854px){
  #bibliotecaVideo{
    justify-content: center;
    padding:0;
  }
}
#videoElem{    
  
  width: 339px;
  height: 280px;
  margin: 2px;
  text-align: center;
}
label{
  text-align: center;
  
}
video{
  width: 300px;
  margin: 5px;
}
@media screen and (max-width:874px){
  video{
    width: 320px;
    margin:10px;
  }
}
@media screen and (max-width:500px){
  video{
    width: 250px;
    margin:10px;
  }
}
@media screen  and(max-width: 650px){
  #bibliotecaVideo{
    min-width: 200px;
  }
}
@media screen and (max-width: 656px){
  .wrapperContent{
    min-width: 320px;
  }
}
#myProgress{
  width: 36.5%;
  background-color: #ddd;
  }
  #myBar{
    width:0%;
    height: 20px;
    background-color:rgb(52, 90, 72) ;
  }
